<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <script src="http://localhost:5984/diebruecke/_design/b2/modules.js"></script>
    <title>{{title}}</title> 
  </head> 
  <body> 

    {{#if list}}
    <div id="list">
      {{{list}}}
    </div>
    {{/if}}

    {{#if content}}
    <div id="content">
      {{{content}}}
    </div>
    {{/if}}

    
    <script type="text/javascript">

    </script>


  </body>
</html>