
<link rel="stylesheet" href="http://localhost:5984/diebruecke/_design/b2/static/jquery-ui-timepicker-addon.css">
<link rel="stylesheet" href="http://localhost:5984/diebruecke/_design/b2/static/ui-lightness/jquery-ui-1.10.4.custom.css">

<script src="http://localhost:5984/diebruecke/_design/b2/static/jquery-ui-1.10.4.custom.js"></script>
<script src="http://localhost:5984/diebruecke/_design/b2/static/jquery-ui-timepicker-addon.js"></script>

<h1>Details</h1>



<h2>{{doc.name}}</h2>

<table>
	<tr >
		<td rowspan="7">
			<div id="mainimage">
			<!-- http://localhost:5984/diebruecke/_design/b2/img%2ffaces%2falexander.jpg -->
				<img width="150" heigth="200" src="{{baseurl}}/{{doc.image}}">
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<label for="shortText_id">Kurztext</label>
		</td>
		<td>
			<input type="text" id="shortText_id" size="50">
		</td>
	</tr>
	<tr>
		<td>
			<label for="longText_id">Langtext</label>
		</td>
		<td>
			<textarea id="longText_id" cols="50"></textarea>
		</td>
	</tr>	
	<tr>
		<td>
			<label for="checkbox_id">sichtbar</label>
		</td>
		<td>
			<input type="Checkbox" disabled="disabled" name="sichtbar" id="checkbox_id" value="visibilty" checked="checked">
		</td>
	</tr>
	<tr>
		<td>
			<label for="datepicker_text">Freischaltdatum:</label>
		</td>
		<td>
			<input type="text" value="{{freischaltdatum}}" id="datepicker_text" style="position: relative; z-index:99999"/>
		</td>
	</tr>	
	<tr>
		<td>
			<label for="datepicker2_text">Freischaltzeit:</label>
		</td>
		<td>
			<input type="text" value="{{freischaltzeit}}" id="datepicker2_text"/>
		</td>
	</tr>			
	<tr>
		<td>
			<label for="votes_text">Stimmen:</label>
		</td>
		<td>
			<input id="votes_text" type="text" value="{{stimmen}}">
		</td>
	</tr>		
	</div>

<table>



<div>
Media
Videos und Bilder
</div>


<div><input type="button" value="Save"/></div>

<script type="text/javascript">
	var db    = require('db');

	//get data for user
	// db.getDoc(id, function(err,response){
	// 	if(!err){
	// 		console.log(response);
	// 	}
	// });



	$('#datepicker_text').datetimepicker({
		altField: "#datepicker2_text",
		dateFormat: "dd.mm.yy",
		timeFormat: "HH:mm",
		onSelect: function(dateText) {
			console.log($("#datepicker_text").val());
			console.log($("#datepicker2_text").val());
		}
	});	
	

</script>