
<link rel="stylesheet" href="http://localhost:5984/diebruecke/_design/b2/static/jquery-ui-timepicker-addon.css">
<link rel="stylesheet" href="http://localhost:5984/diebruecke/_design/b2/static/ui-lightness/jquery-ui-1.10.4.custom.css">

<link rel="stylesheet" href="http://localhost:5984/diebruecke/_design/b2/static/select/bootstrap-select.css">

<script src="http://localhost:5984/diebruecke/_design/b2/static/jquery-ui-1.10.4.custom.js"></script>
<script src="http://localhost:5984/diebruecke/_design/b2/static/jquery-ui-timepicker-addon.js"></script>
<script src="http://localhost:5984/diebruecke/_design/b2/static/select/bootstrap-select.js"></script>

<h1>Details</h1>



<h2>{{doc.name}}</h2>

<table>
	<tr >
		<td rowspan="7">
			<div id="mainimage">
				<img width="150" heigth="200" src="{{imgbaseurl}}/{{doc.image}}">
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<label for="text">Kurztext</label>
		</td>
		<td>
			<input type="text" id="text" size="50" value="{{doc.text}}">
		</td>
	</tr>
	<tr>
		<td>
			<label for="longText">Langtext</label>
		</td>
		<td>
			<textarea id="longText" cols="50">{{doc.longText}}</textarea>
		</td>
	</tr>	
	<tr>
		<td>
			<label for="checkbox_id">sichtbar</label>
		</td>
		<td>
			<input type="Checkbox" disabled="disabled" name="sichtbar" id="checkbox_id" value="visibilty" checked="checked">
		</td>
	</tr>
	<tr>
		<td>
			<label for="freischaltepisode">freischalten:</label>
		</td>
		<td>
			<select id="freischaltepisode" class="selectpicker" data-style="btn-primary">
				{{#select doc.freischaltepisode}}
			    <option value="0">von Anfang an</option>
			    <option value="1">nach Episode 1</option>
			    <option value="2">nach Episode 2</option>
			    <option value="3">nach Episode 3</option>
			    <option value="4">nach Episode 4</option>
			    <option value="5">nach Episode 5</option>
				{{/select}}   
			  </select>
		</td>
	</tr>			
	<tr>
		<td>
			<label for="stimmen">Stimmen:</label>
		</td>
		<td>
			<input id="stimmen" type="text" value="{{doc.stimmen}}">
		</td>
	</tr>		
	</div>

<table>



<div id="relations">
Beziehungen
{{#list doc.relations}}	
	{{name}}
	<!-- slug auf freischaltwoche prüfen und anzeigen
	text übersetzt per ajax laden -->
{{/list}}
</div>


<div id="media">
	<ul class="imagelist">
		{{#list doc.media}}	
	
			<div class="zeile">
				<div class="zelle">
					<div class="{{type}}">
						<a href="{{../mediabaseurl}}/{{image}}" ><img src="{{../mediabaseurl}}/{{thumbnail}}"/></a>
					</div>
				</div>
				<div class="zelle">
					<div class="select_freischaltepisode">
						<select id="freischaltepisode" class="selectpicker" data-style="btn-primary" media-url="{{image}}">
							{{#select freischaltepisode}}
						    <option value="0">von Anfang an</option>
						    <option value="1">nach Episode 1</option>
						    <option value="2">nach Episode 2</option>
						    <option value="3">nach Episode 3</option>
						    <option value="4">nach Episode 4</option>
						    <option value="5">nach Episode 5</option>
							{{/select}}   
						  </select>			
					</div>
				</div>
			</div>
		{{/list}}
	</ul>
</div>

<div>
<button class="btn btn-primary ladda-button" data-style="zoom-in" id="save_doc"><span class="ladda-label">speichern</span></button>
</div>

<script type="text/javascript">
	var db = require('db').use("{{baseurl}}");

	var userurl = "{{baseurl}}{{doc.slug}}";

	var user = "";


	db.getDoc("{{doc.slug}}", function(err,response){
		if(err) return;
		

		user = response;

		//$('.selectpicker').selectpicker("val", user.freischaltepisode);
	});
	$('.selectpicker').selectpicker();


	$( "#save_doc" ).click(function( event ) {
		event.preventDefault();		
		//animation
		var l = Ladda.create(this);
		l.start();


		//user data object
		user.text = $("#text").val();
		user.longText = $("#longText").val();
		user.freischaltepisode = $("#freischaltepisode").val();
		// user.freischaltzeit = $("#freischaltzeit").val();
		user.stimmen = $("#stimmen").val();

		//getMediaData
		$("select[media-url]").each(function( index ) {
			var mediaUrl = $( this ).attr("media-url");
			var mediaFreischaltepisode = this.value

			console.log( mediaFreischaltepisode + ": " +  mediaUrl);
			for (var i = 0; i <  user.media.length; i++) {
				if (user.media[i].image == mediaUrl)
				{	//save
					user.media[i].freischaltepisode = mediaFreischaltepisode;
				}
			};
		});

		// user.text = $("#text").val();
		db.saveDoc(user, docSaved(l));
	});

	function docSaved(l){
		return function(err, response){
			l.stop();
			if (err) return;
			
			
			if (response.ok)
				user._rev = response.rev;
		}
	}



	$('#freischaltdatum').datetimepicker({
		altField: "#freischaltzeit",
		dateFormat: "dd.mm.yy",
		timeFormat: "HH:mm",
		onSelect: function(dateText) {
			console.log($("#freischaltdatum").val());
			console.log($("#freischaltzeit").val());
		}
	});	
	


</script>