
<script type="text/javascript">
	$ = require('jquery');
	jQuery = $;
</script>
<link rel="stylesheet" href="http://localhost:5984/diebruecke/_design/b2/static/jquery-ui-timepicker-addon.css">
<link rel="stylesheet" href="http://localhost:5984/diebruecke/_design/b2/static/ui-lightness/jquery-ui-1.10.4.custom.css">

<script src="http://localhost:5984/diebruecke/_design/b2/static/jquery-ui-1.10.4.custom.js"></script>
<script src="http://localhost:5984/diebruecke/_design/b2/static/jquery-ui-timepicker-addon.js"></script>

<h1>Übersicht</h1>



<h2>{{doc.name}}</h2>
<div class="body">
	<label for="checkbox_id">sichtbar</label>
	<input type="Checkbox" disabled="disabled" name="sichtbar" id="checkbox_id" value="visibilty" checked="checked">
</div>
<div class="body" id="datepicker">Freischaltdatum: <input type="text" value="11.11.2011" id="datepicker_text"/></div>
<div class="body" id="datepicker2">Freischaltzeit:  <input type="text" value="10:15" id="datepicker2_text"/></div>
<div class="body">Stimmen: XXX</div>
<div class="body">+1</div>
<div class="body">-1</div> 

<div><input type="button" value="Save"/></div>

<script type="text/javascript">
	var session = require('session');

	session.info(function (err, info) {
	if (err) // an error occurred getting session info
	  console.log("error");
	else     // success
	  if ($.inArray("redakteur", info.userCtx.roles))
	  {
	    $('.editable').css('display',"block");

	  }
	});

	var myDate = new Date();
	var prettyDate =(myDate.getMonth()+1) + '/' + myDate.getDate() + '/' +
	    myDate.getFullYear();
	$("#date_pretty").val(prettyDate);

	$('#datepicker_text').datetimepicker({
		altField: "#datepicker2_text",
		dateFormat: "dd.mm.yy",
		timeFormat: "HH:mm"
	});	

</script>